* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: -1px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.code-box > p {
  padding: 10px;
  max-width: 50%;
  font-family: 'Courier New', Courier, monospace;
  background-color:lightgray;
}

.form-error {
  color: red;
  font-weight: bold;
}


h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

.container {
  width: 100%;
  min-height: 100%;
  margin: 0px auto;
}

.main-messenger{
  max-width: 80%;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}


#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px 0px 20px;
  color: #555;
}
textarea {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  font-family: Nunito;
  font-size: 16px;
}
input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #57d880;
  color: #fff;
  font-size: 18px;
  border: 0;
  margin: 2em 0px;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

#handle {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  font-family: Nunito;
  font-size: 16px;
}

.container {
  max-width: 800px;
  margin: 0% auto;
}

form {
  font-size:0.9rem;
  border-radius: 10px;
  max-width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background-color: lightgrey; 
}

.form-ptag {
  text-align: center;
}


/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}



/* Non-mobile, grid */

@media only screen and (min-width: 640px) {
  html {
    font-size: calc(1em + 1vw);
  }
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  .login-form {
    margin: 1em;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }

  form {
    max-width: 40%;
  }
  
  
}


