.bottom-mrg {
    margin-bottom: 100px;
}

#login {
    padding: 10px;
    background-color:gray;
    min-width: 40%;
    border: solid 1px lightgray;
    border-radius: 10px;
    color:#fff;
}

#signup {
    padding: 10px;
    background-color:gray;
    min-width: 40%;
    border: solid 1px lightgray;
    border-radius: 10px;
    color:#fff;
}